<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/admin/layout :: parent(~{::#content}, ~{::title}, ~{::script})}"
>
<head>
    <meta charset="UTF-8">
    <title>Quản lý đơn hàng</title>
</head>
<body>
<main id="content" class="flex-1 overflow-y-auto bg-transparent p-4 space-y-4">
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 mb-4">
        <div class="p-4 bg-white/80 dark:bg-slate-900/80 rounded-xl flex items-start">
            <div class="flex-1">
                <p class="text-sm text-slate-500 dark:text-slate-400 uppercase mb-2">Chờ xác nhận</p>
                <p class="text-xl font-bold text-slate-800 dark:text-white">100</p>
            </div>
            <div class="bg-blue-50 dark:bg-blue-900/20 p-2 rounded-md flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-blue-500">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="12 6 12 12 16 14"></polyline>
                </svg>
            </div>
        </div>

        <div class="p-4 bg-white/80 dark:bg-slate-900/80 rounded-xl flex items-start">
            <div class="flex-1">
                <p class="text-sm text-slate-500 dark:text-slate-400 uppercase mb-2">Đang vận chuyển</p>
                <p class="text-xl font-bold text-slate-800 dark:text-white">50</p>
            </div>
            <div class="bg-orange-50 dark:bg-orange-900/20 p-2 rounded-md flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-orange-500">
                    <rect x="1" y="3" width="15" height="13"></rect>
                    <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
                    <circle cx="5.5" cy="18.5" r="2.5"></circle>
                    <circle cx="18.5" cy="18.5" r="2.5"></circle>
                </svg>
            </div>
        </div>

        <div class="p-4 bg-white/80 dark:bg-slate-900/80 rounded-xl flex items-start">
            <div class="flex-1">
                <p class="text-sm text-slate-500 dark:text-slate-400 uppercase mb-2">Đã thanh toán</p>
                <p class="text-xl font-bold text-slate-800 dark:text-white">576</p>
            </div>
            <div class="bg-emerald-50 dark:bg-emerald-900/20 p-2 rounded-md flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-emerald-500">
                    <polyline points="9 11 12 14 22 4"></polyline>
                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                </svg>
            </div>
        </div>

        <div class="p-4 bg-white/80 dark:bg-slate-900/80 rounded-xl flex items-start">
            <div class="flex-1">
                <p class="text-sm text-slate-500 dark:text-slate-400 uppercase mb-2">Tổng đơn hàng</p>
                <p class="text-xl font-bold text-slate-800 dark:text-white">1256</p>
            </div>
            <div class="bg-violet-50 dark:bg-violet-900/20 p-2 rounded-md flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-violet-500">
                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                    <polyline points="14 2 14 8 20 8"></polyline>
                    <line x1="16" y1="13" x2="8" y2="13"></line>
                    <line x1="16" y1="17" x2="8" y2="17"></line>
                    <polyline points="10 9 9 9 8 9"></polyline>
                </svg>
            </div>
        </div>
    </div>

    <div class="p-4 bg-white/80 dark:bg-slate-900/80 rounded-xl">
        <div class="flex items-center justify-between mb-3">
            <h3 class="text-xl font-bold text-slate-800 dark:text-white">Danh sách đơn hàng</h3>
            <div class="flex items-center space-x-2">
                <button type="button" class="px-4 py-2 bg-emerald-50 dark:bg-emerald-900/50 text-emerald-500 text-sm rounded-xl flex items-center justify-center cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                        <polyline points="7 10 12 15 17 10"></polyline>
                        <line x1="12" y1="15" x2="12" y2="3"></line>
                    </svg>
                    <span class="ml-2">Xuất Excel</span>
                </button>

                <button type="button" class="px-4 py-2 bg-violet-50 dark:bg-violet-900/50 text-violet-500 text-sm rounded-xl flex items-center justify-center cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <line x1="16" y1="13" x2="8" y2="13"></line>
                        <line x1="16" y1="17" x2="8" y2="17"></line>
                        <polyline points="10 9 9 9 8 9"></polyline>
                    </svg>
                    <span class="ml-2">Tạo báo cáo</span>
                </button>
            </div>
        </div>

        <div class="flex items-center justify-between mb-3">
            <div class="flex items-center space-x-3">
                <button class="p-2 border border-slate-200/50 dark:border-slate-700/50 rounded-md text-slate-500 dark:text-slate-400">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                    </svg>
                </button>
                <div class="flex items-center space-x-3">
                    <div class="px-3 py-2 bg-emerald-200/50 dark:bg-emerald-700/50 border-2 border-emerald-200/50 dark:border-emerald-700/50 rounded-full text-emerald-500 dark:text-emerald-300 hover:border-emerald-500 text-sm flex items-center justify-center cursor-pointer">
                        <span class="mr-2">Chờ xác nhận</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="hover:stroke-red-500">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </div>
                    <div class="px-3 py-2 bg-slate-200/50 dark:bg-slate-700/50 border-2 border-slate-200/50 dark:border-slate-700/50 rounded-full text-slate-500 dark:text-slate-300 hover:border-red-500 hover:text-red-500 text-sm flex items-center justify-center cursor-pointer">
                        <span class="mr-2">Xóa tất cả</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="relative">
                <input type="text" class="pl-10 py-2 border-b border-slate-200/50 dark:border-slate-700/50 bg-transparent placeholder:italic placeholder:text-sm placeholder:text-slate-500 dark:placeholder:text-slate-400 focus:outline-none text-slate-800 dark:text-white" placeholder="ID, Tên,..."/>
                <span class="absolute left-3 top-1/2 transform -translate-y-1/2 text-slate-500 dark:text-slate-400">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="m21 21-4.35-4.35"></path>
                    </svg>
                </span>
            </div>
        </div>

        <div class="overflow-x-auto">
            <table class="w-full min-w-max">
                <thead>
                <tr class="border-y border-slate-200/50 dark:border-slate-700/50">
                    <th class="text-center p-2">
                        <label class="relative inline-flex cursor-pointer">
                            <input type="checkbox" class="peer appearance-none w-5 h-5 rounded border border-slate-300 dark:border-slate-600 checked:bg-violet-500 checked:border-violet-500"/>
                            <span class="absolute inset-0 hidden peer-checked:flex items-center justify-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                </span>
                        </label>
                    </th>
                    <th class="p-2 text-sm text-left font-semibold text-slate-500 dark:text-slate-400 whitespace-nowrap">
                        Mã đơn hàng
                        <button type="button" class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <polyline points="19 12 12 19 5 12"></polyline>
                            </svg>
                        </button>
                    </th>
                    <th class="p-2 text-sm text-left font-semibold text-slate-500 dark:text-slate-400 whitespace-nowrap">Khách hàng</th>
                    <th class="p-2 text-sm font-semibold text-slate-500 dark:text-slate-400 whitespace-nowrap">Sản phẩm</th>
                    <th class="p-2 text-sm font-semibold text-slate-500 dark:text-slate-400 whitespace-nowrap">Tổng tiền</th>
                    <th class="p-2 text-sm text-left font-semibold text-slate-500 dark:text-slate-400 whitespace-nowrap">Trạng thái</th>
                    <th class="p-2 text-sm text-left font-semibold text-slate-500 dark:text-slate-400 whitespace-nowrap">Giao dịch</th>
                    <th class="p-2 text-sm text-left font-semibold text-slate-500 dark:text-slate-400 whitespace-nowrap">Thanh toán</th>
                    <th class="p-2 text-sm text-left font-semibold text-slate-500 dark:text-slate-400 whitespace-nowrap">Ngày tạo</th>
                    <th class="pl-2 py-2 text-sm font-semibold text-slate-500 dark:text-slate-400 text-right">
                        <button type="button" class="p-2 rounded hover:bg-slate-200/50 dark:hover:bg-slate-700/50">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="8" y1="6" x2="21" y2="6"></line>
                                <line x1="8" y1="12" x2="21" y2="12"></line>
                                <line x1="8" y1="18" x2="21" y2="18"></line>
                                <line x1="3" y1="6" x2="3.01" y2="6"></line>
                                <line x1="3" y1="12" x2="3.01" y2="12"></line>
                                <line x1="3" y1="18" x2="3.01" y2="18"></line>
                            </svg>
                        </button>
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr class="border-b border-slate-200/50 dark:border-slate-700/50 odd:bg-white/80 even:bg-slate-50 dark:odd:bg-slate-900/80 dark:even:bg-slate-800">
                    <td class="p-2 text-center">
                        <label class="relative inline-flex cursor-pointer">
                            <input type="checkbox" class="peer appearance-none w-5 h-5 rounded border border-slate-300 dark:border-slate-600 checked:bg-violet-500 checked:border-violet-500"/>
                            <span class="absolute inset-0 hidden peer-checked:flex items-center justify-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                </span>
                        </label>
                    </td>
                    <td class="p-2 text-sm text-slate-800 dark:text-white whitespace-nowrap">#2510091240</td>
                    <td class="p-2 text-left flex items-center space-x-2">
                        <img alt="avatar" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?w=100&h=100&fit=crop" class="w-10 h-10 rounded-full ring-2 ring-violet-500 object-cover"/>
                        <div class="flex flex-col justify-between">
                            <p class="text-sm font-semibold text-slate-800 dark:text-white truncate min-w-24">Huỳnh Chí Bảo</p>
                            <span class="text-xs text-slate-500 dark:text-slate-400 truncate min-w-24">brianbennet@gmail.com</span>
                        </div>
                    </td>
                    <td class="p-2 text-center text-sm text-slate-800 dark:text-white whitespace-nowrap">2</td>
                    <td class="p-2 text-right text-sm text-red-500 whitespace-nowrap">đ 499.000</td>
                    <td class="p-2 text-sm">
                        <span class="px-2 py-1.5 text-sm bg-blue-50 dark:bg-blue-900/20 text-blue-500 rounded-full whitespace-nowrap">Chờ xác nhận</span>
                    </td>
                    <td class="p-2 text-sm text-slate-800 dark:text-white">COD</td>
                    <td class="p-2 text-sm text-slate-800 dark:text-white">
                        <span class="px-2 py-1.5 text-sm bg-red-50 dark:bg-red-900/20 text-red-500 rounded-full whitespace-nowrap">Chưa thanh toán</span>
                    </td>
                    <td class="p-2 text-sm text-slate-800 dark:text-white">09:43 02-09-2025</td>
                    <td class="pl-2 py-2 text-right">
                        <button type="button" class="p-2 text-slate-500 dark:text-slate-300">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </button>
                    </td>
                </tr>

                <tr class="border-b border-slate-200/50 dark:border-slate-700/50 odd:bg-white/80 even:bg-slate-50 dark:odd:bg-slate-900/80 dark:even:bg-slate-800">
                    <td class="p-2 text-center">
                        <label class="relative inline-flex cursor-pointer">
                            <input type="checkbox" class="peer appearance-none w-5 h-5 rounded border border-slate-300 dark:border-slate-600 checked:bg-violet-500 checked:border-violet-500"/>
                            <span class="absolute inset-0 hidden peer-checked:flex items-center justify-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                </span>
                        </label>
                    </td>
                    <td class="p-2 text-sm text-slate-800 dark:text-white whitespace-nowrap">#2510091250</td>
                    <td class="p-2 text-left flex items-center space-x-2">
                        <div class="w-10 h-10 rounded-full ring-2 ring-violet-500 flex items-center justify-center text-md font-bold bg-violet-50 dark:bg-violet-900/20 text-violet-500">
                            <span>B</span>
                        </div>
                        <div class="flex flex-col justify-between">
                            <p class="text-sm font-semibold text-slate-800 dark:text-white truncate min-w-24">Huỳnh Chí Bảo</p>
                            <span class="text-xs text-slate-500 dark:text-slate-400 truncate min-w-24">brianbennet@gmail.com</span>
                        </div>
                    </td>
                    <td class="p-2 text-center text-sm text-slate-800 dark:text-white whitespace-nowrap">3</td>
                    <td class="p-2 text-right text-sm text-red-500 whitespace-nowrap">đ 125.000</td>
                    <td class="p-2 text-sm">
                        <span class="px-2 py-1.5 text-sm bg-yellow-50 dark:bg-yellow-900/20 text-yellow-500 rounded-full whitespace-nowrap">Đang vận chuyển</span>
                    </td>
                    <td class="p-2 text-sm text-slate-800 dark:text-white">MOMO</td>
                    <td class="p-2 text-sm text-slate-800 dark:text-white">
                        <span class="px-2 py-1.5 text-sm bg-emerald-50 dark:bg-emerald-900/20 text-emerald-500 rounded-full whitespace-nowrap">Đã thanh toán</span>
                    </td>
                    <td class="p-2 text-sm text-slate-800 dark:text-white">09:43 02-09-2025</td>
                    <td class="pl-2 py-2 text-right">
                        <button type="button" class="p-2 text-slate-500 dark:text-slate-300">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 place-items-center mt-4">
            <div class="p-4 lg:place-self-start flex justify-between items-center w-full lg:flex-col lg:items-start">
                <button type="button" class="text-xs text-slate-500 dark:text-slate-300 p-1.5 rounded-md bg-slate-50 dark:bg-slate-700/50 group relative">
                    <span>20 dòng</span>
                    <div class="absolute bottom-full left-0 mb-2 bg-slate-200 dark:bg-slate-700 text-slate-500 dark:text-slate-300 text-xs scale-y-0 group-hover:scale-y-100 origin-bottom transition-all duration-200 z-50 flex flex-col rounded-md shadow-lg w-24">
                        <span class="px-3 py-1 hover:bg-slate-300 dark:hover:bg-slate-600 cursor-pointer">5 dòng</span>
                        <span class="px-3 py-1 hover:bg-slate-300 dark:hover:bg-slate-600 cursor-pointer">10 dòng</span>
                        <span class="px-3 py-1 hover:bg-slate-300 dark:hover:bg-slate-600 cursor-pointer">20 dòng</span>
                        <span class="px-3 py-1 hover:bg-slate-300 dark:hover:bg-slate-600 cursor-pointer">50 dòng</span>
                    </div>
                </button>
                <span class="text-xs text-slate-500 dark:text-slate-400 p-1.5">Hiển thị trang 5-14 của 500 kết quả</span>
            </div>

            <div class="lg:place-self-end p-4 flex items-center space-x-3">
                <div class="px-2 py-1 flex items-center justify-center text-violet-400 border border-violet-50 dark:border-violet-900/20 rounded-md bg-violet-50 dark:bg-violet-900/20 hover:border-violet-500 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="15 18 9 12 15 6"></polyline>
                    </svg>
                </div>

                <div class="flex items-center text-white">
                    <span class="border-s border-y border-slate-500 dark:border-slate-400 text-slate-500 dark:text-slate-400 px-2 py-1 rounded-l-md cursor-pointer hover:bg-slate-200/50 dark:hover:bg-slate-700/50 transition-colors duration-200">1</span>
                    <span class="border-s border-y border-slate-500 dark:border-slate-400 text-slate-500 dark:text-slate-400 px-2 py-1 pointer-events-none">...</span>
                    <span class="border-s border-y border-slate-500 dark:border-slate-400 text-slate-500 dark:text-slate-400 px-2 py-1 cursor-pointer hover:bg-slate-200/50 dark:hover:bg-slate-700/50 transition-colors duration-200">4</span>
                    <span class="border-s border-y border-slate-500 dark:border-slate-400 text-white px-2 py-1 bg-violet-500 dark:bg-violet-700/50 cursor-pointer">5</span>
                    <span class="border-s border-y border-slate-500 dark:border-slate-400 text-slate-500 dark:text-slate-400 px-2 py-1 cursor-pointer hover:bg-slate-200/50 dark:hover:bg-slate-700/50 transition-colors duration-200">6</span>
                    <span class="border-s border-y border-slate-500 dark:border-slate-400 text-slate-500 dark:text-slate-400 px-2 py-1 pointer-events-none">...</span>
                    <span class="border border-slate-500 dark:border-slate-400 text-slate-500 dark:text-slate-400 px-2 py-1 rounded-r-md cursor-pointer hover:bg-slate-200/50 dark:hover:bg-slate-700/50 transition-colors duration-200">14</span>
                </div>

                <div class="px-2 py-1 flex items-center justify-center text-violet-400 border border-violet-50 dark:border-violet-900/20 rounded-md bg-violet-50 dark:bg-violet-900/20 hover:border-violet-500 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</main>
<script></script>
</body>
</html>