<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/admin/layout :: parent(~{::#content}, ~{::title}, ~{::script})}"
>
<head>
    <meta charset="UTF-8">
    <title>Trang quản trị viên</title>
</head>
<body>
<main id="content" class="flex-1 overflow-y-auto bg-transparent p-6 space-y-4">
    <!--Stats Grid Section-->
    <section th:replace="~{layout/admin/dashboard/StatsGrid :: StatsGrid}"></section>

    <!--Charts-->
    <section th:replace="~{layout/admin/dashboard/Chart :: Chart}"></section>

    <!--Table section-->
    <section th:replace="~{layout/admin/dashboard/TableSection :: TableSection}"></section>
</main>

<script th:src="@{/js/admin/Charts.js}"></script>
<script th:src="@{/js/admin/TableSection.js}"></script>
</body>
</html>