<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/base :: parent(~{::#content}, ~{::title})}"
><!--Thay thế trang base.html-->
<head>
    <meta charset="UTF-8">
    <title>Welcome to UniBook Store</title>
</head>
<body>
<div id="content">
    <!--Hero section-->
    <section th:replace="~{layout/home/HeroSection :: HeroSection}"></section>

    <!--Menu Section-->
    <section th:replace="~{layout/home/MenuSection :: MenuSection}"></section>

    <!--Flash sale section-->
    <section th:replace="~{layout/home/Flashsale :: Flashsale}"></section>

    <!--Special Offer section -->
    <section th:replace="~{layout/home/SpecialOffer :: SpecialOffer}"></section>

    <!--New book section-->
    <section th:replace="~{layout/home/NewBook :: NewBook}"></section>

    <!--New trend section-->
    <section th:replace="~{layout/home/NewTrend :: NewTrend}"></section>

    <!--Combo section-->
    <section th:replace="~{layout/home/Combo :: Combo}"></section>

    <!--Review section-->
    <section th:replace="~{layout/home/Review :: Review}"></section>

    <!--Contact section-->
    <section th:replace="~{layout/home/Contact :: Contact}"></section>
</div>
</body>
</html>