<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: parent(~{::#content}, ~{::title})}"
>
<head>
    <meta charset="UTF-8">
    <title>Trang chi tiết sản phẩm</title>
</head>
<body>
<div id="content">
    <!--Book detail section-->
    <section th:replace="~{layout/BookDetail/BookInfo :: BookInfo}"></section>

    <!--Rating section-->
    <section th:replace="~{layout/BookDetail/Rating :: Rating}"></section>

    <!--Comment section-->
    <section th:replace="~{layout/BookDetail/Comment :: Comment}"></section>

    <!--Recommend section-->
    <section th:replace="~{layout/BookDetail/Recommend :: Recommend}"></section>
</div>
</body>
</html>