@import "tailwindcss";

@theme {
  --font-display: "Roboto", sans-serif;
  --font-header: "Momo Trust Display", sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE và Edge */
  scrollbar-width: none;     /* Firefox */
}